auto-install-peers=true
recursive-install=true
strict-peer-dependencies=false
save-workspace-protocol=rolling
disallow-workspace-cycles=true
package-manager-strict-version=true
global-bin-dir=~/.local/share/pnpm
